header
	.container
		.row
			.col.col--5
				h1 Logo
			.col.col--7
				nav
					ul.list__horizontal
						li.list__item.list__item--first: a(href="./") home
						li.list__item.list__item--active: a(href="./about.html") about
						li.list__item: a(href="./contact.html") contact
