// -----------------------------------------------------------------------------
// Contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbar {
    height: 6rem;
    line-height: 6rem;
    ul {
        list-style: none;
        margin-bottom: 0;
    }
    &--horizontal {
        float: right;
    }
    &__item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }
    &__link {
        color: #505050;
        padding: 5px 10px;
        margin-left: 10px;
        font-size: 1.1rem;
        text-transform: uppercase;
        &--color-1 {
            border: 2px solid $color-border-1;
        }
        &--color-2 {
            border: 2px solid $color-border-2;
        }
        &--color-3 {
            border: 2px solid $color-border-3;
        }
    }
    &--transparent {
        background-color: rgba(255,255,255,.92);
        position: absolute;
        width: 100%;
        top: 0;
    }
    &--user {
        display: none;
        float: right;
    }
}

@media (max-width: 749px){
    .header__icon {
        position: relative;
        display: block;
        float: right;
        width: 50px;
        height: 60px;

        cursor: pointer;
        &:after {
            content: "";
            position: relative;
            display: block;
            width: 2rem;
            height: 0;
            top: 14px;
            left: calc( 25px - 1rem);
            box-shadow: 0 10px 0 1px #7C7C7C, 0 16px 0 1px #7C7C7C, 0 22px 0 1px #7C7C7C;
        }
    }

    .navbar--user {
        display: block;
    }
    .show-responsive-menu {
        .navbar--horizontal {
            display: block;
        }
    }
    body {
        overflow-x: hidden;
    }
    .navbar {
        height: 6rem;
        line-height: 6rem;

        &--horizontal {
            display: none;
            background-color: rgba(255, 255, 255, 0.95);
            z-index: 100;
            float: none;
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            .navbar__item {
                border-top: 1px solid #747474;
                float: none;
            }
        }
        &__item {
            position: static;
            text-align: center;
        }
        &__link {
            color: #505050;
            margin-left: 0;
            font-size: 1.5rem;
            &--color-1 {
                border: 0;
                color: $color-border-1;
            }
            &--color-2 {
                border: 0;
                color: $color-border-2;
            }
            &--color-3 {
                border: 0;
                color: $color-border-3;
            }
        }
        &--transparent {
            background-color: rgba(255,255,255,1);
        }
    }
}
